[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
simple_salesforce = "*"
click = "*"
tabulate = "*"
click-aliases = "*"
setupext-janitor = "*"
pyyaml = "*"

[dev-packages]
pytest = "*"
mock = "*"
flake8 = "*"

[requires]
python_version = "3.6"
