[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = ">=7.1.2"
click_aliases = ">=1.0.1"
tabulate = ">=0.8.7"
simple_salesforce = ">=1.10.1"
keyring = ">=21.4.0"
pyyaml = ">=5.3.1"
pydantic = ">=1.6.1"

[dev-packages]
freezegun = "*"
pytest = ">=6.0.2"
pytest-recording = ">=0.9.0"

[requires]
python_version = "3.6"
