interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n        <env:Envelope\n                xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n
      \               xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n                xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\n
      \               xmlns:urn=\"urn:partner.soap.sforce.com\">\n            <env:Header>\n
      \               <urn:CallOptions>\n                    <urn:client>RestForce/FF</urn:client>\n
      \                   <urn:defaultNamespace>sf</urn:defaultNamespace>\n                </urn:CallOptions>\n
      \           </env:Header>\n            <env:Body>\n                <n1:login
      xmlns:n1=\"urn:partner.soap.sforce.com\">\n                    <n1:username>YourName@example.com</n1:username>\n
      \                   <n1:password>PASSWORDTOKEN</n1:password>\n
      \               </n1:login>\n            </env:Body>\n        </env:Envelope>"
    headers:
      SOAPAction:
      - login
      charset:
      - UTF-8
      content-type:
      - text/xml
    method: POST
    uri: https://login.salesforce.com/services/Soap/u/42.0
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns="urn:partner.soap.sforce.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><loginResponse><result><metadataServerUrl>https://example.my.salesforce.com/services/Soap/m/42.0/00D20000000KMfv</metadataServerUrl><passwordExpired>false</passwordExpired><sandbox>false</sandbox><serverUrl>https://example.my.salesforce.com/services/Soap/u/42.0/00D20000000KMfv</serverUrl><sessionId>00D20000000KMfv!AQ0AQMq5OI2iEc.lQFHqP5L_uqzl.wO56rvYcp4PJnLIdr9csCNJz2GdTrr9ZW07v7SgoPglE6W1L4CLAgVeHtrg2_reZqAv</sessionId><userId>0050J000666TihJQAS</userId><userInfo><accessibilityMode>false</accessibilityMode><chatterExternal>false</chatterExternal><currencySymbol
        xsi:nil="true"/><orgAttachmentFileSizeLimit>26214400</orgAttachmentFileSizeLimit><orgDefaultCurrencyIsoCode
        xsi:nil="true"/><orgDefaultCurrencyLocale xsi:nil="true"/><orgDisallowHtmlAttachments>false</orgDisallowHtmlAttachments><orgHasPersonAccounts>false</orgHasPersonAccounts><organizationId>00D20000666HLfvEAG</organizationId><organizationMultiCurrency>true</organizationMultiCurrency><organizationName>example
        Ltd</organizationName><profileId>00e200000666vUpFFI</profileId><roleId>00E0J000001g8xEUAQ</roleId><sessionSecondsValid>43200</sessionSecondsValid><userDefaultCurrencyIsoCode>GBP</userDefaultCurrencyIsoCode><userEmail>YourName@example.com</userEmail><userFullName>Your
        Name</userFullName><userId>0050J000666TihJQAS</userId><userLanguage>en_US</userLanguage><userLocale>en_GB</userLocale><userName>YourName@example.com</userName><userTimeZone>Europe/Amsterdam</userTimeZone><userType>Wayne</userType><userUiSkin>Theme3</userUiSkin></userInfo></result></loginResponse></soapenv:Body></soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer 00D20000000KMfv!AQ0AQMq5OI2iEc.lQFHqP5L_uqzl.wO56rvYcp4PJnLIdr9csCNJz2GdTrr9ZW07v7SgoPglE6W1L4CLAgVeHtrg2_reZqAv
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://example.my.salesforce.com/services/data/v42.0/query/?q=select+Id%2C+Name%2C+Email+from+Contact+where+pse__Is_Resource__c+%3D+true+and+Email+LIKE+%27YourName%40%25%27
  response:
    body:
      string: "{\n  \"totalSize\" : 1,\n  \"done\" : true,\n  \"records\" : [ {\n
        \   \"attributes\" : {\n      \"type\" : \"Contact\",\n      \"url\" : \"/services/data/v42.0/sobjects/Contact/0030J000025xe14QAA\"\n
        \   },\n    \"Id\" : \"0030J000025xe14QAA\",\n    \"Name\" : \"Your Name\",\n
        \   \"Email\" : \"YourName@example.com\"\n  } ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://a.forcesslreports.com/hpkp-report/00D20000000KMfvm";
      Sforce-Limit-Info:
      - api-usage=5777/1437000
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer 00D20000000KMfv!AQ0AQMq5OI2iEc.lQFHqP5L_uqzl.wO56rvYcp4PJnLIdr9csCNJz2GdTrr9ZW07v7SgoPglE6W1L4CLAgVeHtrg2_reZqAv
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://example.my.salesforce.com/services/data/v42.0/query/?q=select+Id%2C+Name%2C+pse__Project__c%2C+pse__Project__r.Name%2C+pse__Project__r.pse__Is_Billable__c+from+pse__Assignment__c+where+pse__Resource__c+%3D+%270030J000025xe14QAA%27+and+Open_up_Assignment_for_Time_entry__c+%3D+false+and+pse__Closed_for_Time_Entry__c+%3D+false+and+pse__Exclude_from_Planners__c+%3D+false+and+pse__End_Date__c+%3E+2020-09-18
  response:
    body:
      string: "{\n  \"totalSize\" : 5,\n  \"done\" : true,\n  \"records\" : [ {\n
        \   \"attributes\" : {\n      \"type\" : \"pse__Assignment__c\",\n      \"url\"
        : \"/services/data/v42.0/sobjects/pse__Assignment__c/a6Z0J000000PhLaUAK\"\n
        \   },\n    \"Id\" : \"a6Z0J000000PhLaUAK\",\n    \"Name\" : \"Personal Development
        - Your Name\",\n    \"pse__Project__c\" : \"a7O0J000000PN8jUAG\",\n    \"pse__Project__r\"
        : {\n      \"attributes\" : {\n        \"type\" : \"pse__Proj__c\",\n        \"url\"
        : \"/services/data/v42.0/sobjects/pse__Proj__c/a7O0J000000PN8jUAG\"\n      },\n
        \     \"Name\" : \"Ad Hoc Professional Development\",\n      \"pse__Is_Billable__c\"
        : false\n    }\n  }, {\n    \"attributes\" : {\n      \"type\" : \"pse__Assignment__c\",\n
        \     \"url\" : \"/services/data/v42.0/sobjects/pse__Assignment__c/a6Z0J000000PhaEUAS\"\n
        \   },\n    \"Id\" : \"a6Z0J000000PhaEUAS\",\n    \"Name\" : \"Time Off -
        Your Name\",\n    \"pse__Project__c\" : \"a7O0J000000PN8oUAG\",\n    \"pse__Project__r\"
        : {\n      \"attributes\" : {\n        \"type\" : \"pse__Proj__c\",\n        \"url\"
        : \"/services/data/v42.0/sobject[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer 00D20000000KMfv!AQ0AQMq5OI2iEc.lQFHqP5L_uqzl.wO56rvYcp4PJnLIdr9csCNJz2GdTrr9ZW07v7SgoPglE6W1L4CLAgVeHtrg2_reZqAv
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://example.my.salesforce.com/services/data/v42.0/query/?q=select+Id%2C+Name%2C+pse__Is_Billable__c+from+pse__Proj__c+where+pse__Allow_Timecards_Without_Assignment__c+%3D+true+and+pse__Is_Active__c+%3D+tru[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer 00D20000000KMfv!AQ0AQMq5OI2iEc.lQFHqP5L_uqzl.wO56rvYcp4PJnLIdr9csCNJz2GdTrr9ZW07v7SgoPglE6W1L4CLAgVeHtrg2_reZqAv
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://example.my.salesforce.com/services/data/v42.0/query/?q=select+Id%2C+Name%2C+pse__Project__c%2C+pse__Project__r.Name%2C+pse__Project__r.pse__Is_Billable__c+from+pse__Assignment__c+where+pse__Resource__c[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer 00D20000000KMfv!AQ0AQMq5OI2iEc.lQFHqP5L_uqzl.wO56rvYcp4PJnLIdr9csCNJz2GdTrr9ZW07v7SgoPglE6W1L4CLAgVeHtrg2_reZqAv
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://example.my.salesforce.com/services/data/v42.0/query/?q=%0A++++++++++++select%0A++++++++++++Id%2C+Name%2C+pse__Project__c%2C+pse__Assignment__c%2C+pse__Monday_Hours__c%2C+pse__Tuesday_Hours__c%2C+pse__Wednesday_Hours__c%2C+pse__Thursday_Hours__c%2C+pse__Friday_Hours__c%2C+pse__Status__c%0A++++++++++++from+pse__Timecard_Header__c%0A++++++++++++where%0A++++++++++++pse__Start_Date__c+%3D+2020-09-14+and+pse__End_Date__c+%3D+2020-09-20+and%0A++++++++++++pse__Resource__c+%3D+%270030J000025xe14QAA%27+
  response:
    body:
      string: "{\n  \"totalSize\" : 1,\n  \"done\" : true,\n  \"records\" : [ {\n
        \   \"attributes\" : {\n      \"type\" : \"pse__Timecard_Header__c\",\n      \"url\"
        : \"/services/data/v42.0/sobjects/pse__Timecard_Header__c/a8D5I000000GtOMUA0\"\n
        \   },\n    \"Id\" : \"a8D5I000000GtOMUA0\",\n    \"Name\" : \"TCH-09-15-2020-120733\",\n
        \   \"pse__Project__c\" : \"a7O5I000000R5EyUAK\",\n    \"pse__Assignment__c\"
        : \"a6Z5I000000MnKfUAK\",\n    \"pse__Monday_Hours__c\" : 4.5,\n    \"pse__Tuesday_Hours__c\"
        : 4.5,\n    \"pse__Wednesday_Hours__c\" : 3.0,\n    \"pse__Thursday_Hours__c\"
        : 1.0,\n    \"pse__Friday_Hours__c\" : 3.0,\n    \"pse__Status__c\" : \"Saved\"\n
        \ } ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://a.forcesslreports.com/hpkp-report/00D20000000KMfvm";
      Sforce-Limit-Info:
      - api-usage=5777/1437000
    status:
      code: 200
      message: OK


- request:
    body: null
    headers:
      Authorization:
      - Bearer 00D20000000KMfv!AQ0AQOLkGqyfmD1kt6dn2kOssy0LZnBuJ11NFROQ4Nl633Nw0Fr7UttiV9LAmSyQ6VGgWTrkQAR8.X8LdE0nJi_7OFwJJ2pK
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://example.my.salesforce.com/services/data/v42.0/query/?q=select+Id+from+pse__Timecard_Header__c+where+pse__Start_Date__c+%3D+2020-09-14+and+pse__End_Date__c+%3D+2020-09-20+and+pse__Resource__c+%3D+%270030J000025xe14QAA%27+and+pse__Assignment__c+%3D+%27a6Z0J000000PhLaUAK%27++and+pse__Project__c+%3D+%27a7O0J000000PN8jUAG%27+and+pse__Status__c+not+in+%28%27Submitted%27%2C+%27Approved%27%29
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=9089/1437000
    status:
      code: 200
      message: OK
- request:
    body: '{"pse__Start_Date__c": "2020-09-14", "pse__End_Date__c": "2020-09-20",
      "pse__Resource__c": "0032000001p0EaYAAU", "pse__Status__c": "Saved", "pse__Assignment__c":
      "a6Z0J000000PhPJUA0", "pse__Project__c": "a7O0J000000PN93UAG", "pse__Billable__c":
      false, "pse__Monday_Hours__c": 8, "pse__Monday_Notes__c": "Test Notes"}'
    headers:
      Authorization:
      - Bearer 00D20000000KMfv!AQ0AQOLkGqyfmD1kt6dn2kOssy0LZnBuJ11NFROQ4Nl633Nw0Fr7UttiV9LAmSyQ6VGgWTrkQAR8.X8LdE0nJi_7OFwJJ2pK
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: POST
    uri: https://example.my.salesforce.com/services/data/v42.0/sobjects/pse__Timecard_Header__c/
  response:
    body:
      string: "{\n  \"id\" : \"a8D5I000000HF6VUAW\",\n  \"success\" : true,\n  \"errors\"
        : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - /services/data/v42.0/sobjects/pse__Timecard_Header__c/a8D5I000000HF6VUAW
      Sforce-Limit-Info:
      - api-usage=9089/1437000
    status:
      code: 201
      message: Created

version: 1